{% extends 'base.html' %}

{% block conteudo %}
    


    
<style>
    body {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .maim_index {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .container {
        width: 70%; 
        display: flex;
        box-sizing: border-box;
        overflow: hidden;
        word-wrap: break-word;
        margin: 10px auto; 
    }
    
</style>
    <div class="maim_index">
        <section class="container">

            <div id="1">
            <img src="https://media.licdn.com/dms/image/C5603AQFmqrBS4plAfg/profile-displayphoto-shrink_800_800/0/1517235530693?e=2147483647&v=beta&t=SDXmJiKZOoQIdKJQQQsVuv4ldIzKQU14_16XuZp591M" width="160px" height="160px" alt="">
                <p>
                    Descricao: <br>
                    
                    
    O que é Lorem Ipsum?
    Lorem Ipsum é simplesmente um texto fictício da indústria de impressão e composição tipográfica. Lorem Ipsum tem sido o texto fictício padrão da indústria desde 1500, quando um impressor desconhecido pegou uma prova de tipos e a misturou para fazer um livro de espécimes de tipos. Ela sobreviveu não apenas a cinco séculos, mas também ao salto para a composição tipográfica eletrônica, permanecendo essencialmente inalterada. Foi popularizado na década de 1960 com o lançamento de folhas Letraset contendo passagens de Lorem Ipsum e, mais recentemente, com software de editoração eletrônica como Aldus PageMaker, incluindo versões de Lorem Ipsum.
                </p>
            </div>
            
            <div id="1">
                <img src="https://media.licdn.com/dms/image/C5603AQFmqrBS4plAfg/profile-displayphoto-shrink_800_800/0/1517235530693?e=2147483647&v=beta&t=SDXmJiKZOoQIdKJQQQsVuv4ldIzKQU14_16XuZp591M" width="160px" height="160px" alt="">
    
                <p>
                    Descricao: <br>
                    
    O que é Lorem Ipsum?
    Lorem Ipsum é simplesmente um texto fictício da indústria de impressão e composição tipográfica. Lorem Ipsum tem sido o texto fictício padrão da indústria desde 1500, quando um impressor desconhecido pegou uma prova de tipos e a misturou para fazer um livro de espécimes de tipos. Ela sobreviveu não apenas a cinco séculos, mas também ao salto para a composição tipográfica eletrônica, permanecendo essencialmente inalterada. Foi popularizado na década de 1960 com o lançamento de folhas Letraset contendo passagens de Lorem Ipsum e, mais recentemente, com software de editoração eletrônica como Aldus PageMaker, incluindo versões de Lorem Ipsum.
                </p>
            </div>
        </section>
    </div>

{% endblock %}
  
